doctype html

head
  title Hazel Brenner
  link(rel='stylesheet', href='css/main.css')
  link(rel="preconnect", href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300&display=swap", rel="stylesheet")

body
  #sidebar
    h1 Hazel Brenner
    ul
        li
          a(href="index.html") Home
        li
          a(href="blah.html") Publications
        li
          a(href="foo.html")  Teaching
        li
          a(href="bar.html")  CV
  #content